.search-container {
  display: flex;
  align-items: center;
}

.input-container {
  position: relative;
  margin-right: 10px; 
}

.input-container input {
  width: 200px; /* Set the width of the book input box here */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover, .dropdown-menu .active {
  background-color: #f1f1f1;
}

